* {
    color: inherit;
}

body, html {
    color: rgba(255, 255, 255, 1) !important;
}

main {
    align-items: center;
}

nav h1 > a {
    cursor: inherit;
}

/* --- form --- */

form {
    height: 800px;
    flex-direction: column;
}

/* ---- inputs + textarea ----- */

::placeholder {
    color: inherit;
}

:-ms-input-placeholder {
    color: inherit;
}
::-ms-input-placeholder {
    color: inherit;
  }

input, textarea {
    padding: 10px;
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 1);
    background: inherit;
    margin-top: 10px;
    cursor: pointer;
}

input {
    border-radius: 50px;
}

textarea {
    height: 500px;
    resize: none;
    border-radius: 10px 50px 10px 50px;
}

input[name = "Subject"], input[name = "Name"] {
    width: 200px;
    height: 25px;
}

#rrf-blog-create-mail-btn {
    width: 100px;
    height: 50px;
    position: relative;
    left: calc(50% - 50px);
}

#rrf-blog-create-mail-btn:hover {
    background:rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    transform: scale(.9);
}

/* --- comun --- */

textarea, form {
    width: 500px;
}

form, main {
    display: flex;
    justify-content: center;
}

input[name = "Subject"]:focus, input[name = "Name"]:focus {
    width: 220px;
}

input[name = "Subject"]:focus, input[name = "Name"]:focus, textarea:focus {
    border-color: rgba(0, 255, 0, 1);
}

/* === media === */

@media screen and (max-width: 600px) {
    form, textarea, input[name = "Subject"], input[name = "Name"] {
        width: calc(100% - 20px);
    }
    input[name = "Subject"]:focus, input[name = "Name"]:focus {
        width: inherit;
    }
}

@media screen and (max-height: 800px) {
    body {
        padding: 5px;
        min-height: 100vh;
        height: auto;
    }
}

