* {
    margin: 0;
    padding: 0;
    transition: all .5s ease-in-out;
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
}


html {
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    animation: background-animation .6s;
}

@keyframes background-animation {
    from {background-color: white;}
    to {background-color: rgba(255, 255, 255, 0.9);}
}

body {
    background-color: rgba(189, 187, 186, 0.9);
    color: rgba(0, 0, 0, 0);
}

nav {
    height: 3.438rem;
    background-color: rgba(189, 187, 186, 0.7);
}

html, nav, body {
    width: 100%;
}

nav a, #options {
    width: 3.75rem;
    height: 95%;
    float: left;
    position: relative;
    left: 42.5%;
    margin-left: .625rem;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

#options {
    cursor: pointer;
}

.social-media-btn {
    box-shadow: .125rem .125rem .125rem -.063rem rgba(0, 0, 0, 0.8),
        -.125rem .125rem .125rem -.063rem rgba(0, 0, 0, 0.8);
    animation: social-media-btn-animation 1.5s linear;
}
@keyframes social-media-btn-animation {
    from {box-shadow: none;
        text-indent: -.625rem;}
    to {box-shadow: inherit;
        text-indent: 0;}
}

.social-media-btn:hover {
    box-shadow: inset .125rem .125rem 0 .063rem rgba(0, 0, 0, 0.3),
        .125rem -.125rem 0 -.625rem rgba(0, 0, 0, 0.3);
    background-color: rgba(155, 156, 255, 0.9);
    color: rgba(221, 221, 221, 0.9);
}

#main {
    width: 100%;
    height: 94vh;
    overflow: hidden;
}


#main-box {
    width: 31.25rem;
    height: 31.25rem;
    color: rgba(255, 255, 255, 0.8);
}

.box {
    box-shadow: .25rem .25rem .125rem -.063rem rgba(0, 0, 0, 0.3),
        -.25rem -.25rem .125rem -.063rem rgba(0, 0, 0, 0.3),
        .25rem -.25rem .125rem -.063rem rgba(0, 0, 0, 0.3),
        -.25rem .25rem .125rem -.063rem rgba(0, 0, 0, 0.3);
}
#box-heading {
    width: 100%;
    height: 12.5rem;
    text-align: center;
    border-bottom: .125rem solid rgba(225, 225, 226, 0.7);
}

#box-heading img {
    height: 9.375rem;
    width: auto;
    max-height: 18.688rem;
    max-width: 100%;
    border-radius: 6.25rem;
    filter: grayscale(50%);
}

#box-heading img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    border-radius: 3.125rem;
}

.title {
    width: 100%;
    height: 3.125rem;
    text-align: center;
    font-size: 1.125rem;
}

.title h1, p {
    animation: deplasare-font 2s;
}

h1 {
    font-size: 1.75rem;
}
p {
    font-size: 1.313rem;
}

@keyframes deplasare-font {
    from {font-size: .688rem;
        text-indent: -.625rem;}
    to {font-size: 1.125rem;
    text-indent: 0;}
}


#box-content {
    width: 28.75rem;
    height: 17.5rem;
    padding: .625rem;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: justify;
    font-family: 'Times New Roman', sans-serif;
}

#box-content p {
    top: 2.5rem;
}
p::first-letter {
    font-size: 2.25rem;
}


#main, nav a, #options, .menu-option, .close-btn-menu-option, .posts-content-box, #posts-content, #first-icon, #second-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-text {
    transition: none;
    display: none;
    width: 5rem;
    height: auto;
    padding: .625rem;
    top: 3.75rem;
    transition: all 1s ease-in-out 0s;
    animation: none;
    border: .125rem solid rgba(74, 77, 76, 0.7);
    border-radius: 1.25rem;
}

#box-content p, .hover-text, #social-media-menu-options {
    position: relative;
}

.social-media-btn:hover .hover-text, #options:hover .hover-text {
    display: block;
    
}

.social-media-btn:hover i, #options:hover i {
    position: fixed;
}

#menu-options {
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 10;
    background-color: rgba(100, 100, 100, 0.99);
    animation: menu-option-animation 1s linear !important;
}

.menu-option {
    width: 100%;
    height: 5rem;
    color: rgba(255, 255, 255, 0.7);
    animation: color-changer .6s linear;
}

.menu-option a {
    color: inherit;
}

.menu-option:hover {
    background: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}


.close-btn-menu-option {
    width: 3.438rem;
    height: 3.438rem;
    float: right;
    cursor: pointer;
    color: rgba(200, 200, 200, 1);
}

@keyframes color-changer {
    from {color: rgba(0, 0, 0, 0);}
    to {color: inherit;}
}

@keyframes menu-option-animation {
    from {transform: scale(0) matrix(100,0,0,1,0,0);
        height: 0vh;}
    to {transform: scale(1) matrix(none);
        height: 100vh;}
}

#social-media-menu-options {
    top: calc(100% - 28.438rem);
}


#posts-content {
    width: 100%;
    height: calc(100% - 29.688rem);
    color: rgba(255, 255, 255, 0.7);
    padding: .625rem;
    display: none;
    animation: posts-animation .7s linear;
}

@keyframes posts-animation {
    from {transform: scale(0) rotate(720deg);
        border-radius: 31.25rem;
        filter: blur(.313rem);}
    to {transform: scale(1) rotate(0deg);
        border-radius: none;
        filter: blur(none);}
}


.posts-content-box {
    width: 18.75rem;
    height: 18.75rem;
}

#first-icon, #second-icon {
    width: 3.125rem;
    height: 100%;
    float: right;
}
#second-icon {
    display: none;
}

#posts-menu-option {
    display: block;
}

#posts-text, #first-icon, #second-icon {
    position: relative;
}

#posts-text {
    top: calc(100% - 3.125rem);
    left: calc(50% - .938rem);
}

@media screen and (max-width: 1080px) {
    nav a, #options {
        left: 35%;
    }
}

@media screen and (max-width: 768px) {
    nav a, #options {
        left: 30%;
    }
    h1 {
        font-size: 21px;
    }
    p {
        font-size: 18px;
    }
    #main-box {
        width: 70%;
        height: 28rem;
    }
    #box-content {
        width: 94%;
    }
    #posts-content {
        height: calc(100% - 19.5rem);
    }
    .posts-content-box {
        width: 13rem;
        height: 13rem;
    }
    #social-media-menu-options {
        width: 100%;
        top: calc(100% - 18.438rem);
    }
    #social-media-menu-options .menu-option {
        width: 33.333%;
        float: left;
    }
}

@media screen and (max-width: 560px) {
    nav a, #options {
        left: 25%;
    }
}


@media screen and (max-width: 450px) {
    nav a, #options {
        left: 0;
    }
    #options {
        float: right;
        margin-right: .625rem; 
    }
    h1 {
        font-size: 18px;
    }
    p {
        font-size: 15px;
    }
    #main {
        height: 92vh;
    }
    #main-box {
        width: 96%;
        height: 27rem;
    }
    #box-content {
        width: 95%;
    }
}

@media screen and (max-width: 320px) {
    #main-box {
        width: 93%;
        height: 25rem;
    }
    nav a, #options {
        width: 3.2rem;
        height: 90%; 
    }
    #box-content {
        width: 90%;
    }
    #main {
        height: 88vh;
    }
    #box-content p {
        top: 1.5rem;
    }
    .posts-content-box {
        width: 8rem;
        height: 8rem;
    }
}

@media screen and (max-width: 240px) {
    nav a, #options {
        width: 2.5rem;
        height: 2.5rem;
    }
    #main {
        height: 28rem;
    }
    #box-content p {
        top: 1rem;
    }
    .menu-option {
        height: 2rem;
    }
    .close-btn-menu-option {
        width: 1.5rem;
        height: 1.5rem;
    }
    #posts-text {
        top: calc(100% - 1.5rem);
    }
    #first-icon, #second-icon {
        width: 1.6rem;
        height: 2rem;
        top: 0;
    }
    #social-media-menu-options {
        top: calc(100% - 7.5rem);
    }
    #posts-content {
        height: calc(100% - 8.75rem);
    }
}

@media screen and (max-height: 480px) {
    #main {
        min-height: 30rem;
        height: auto;
    }
    #posts-content {
        height: calc(100% - 19.5rem);
    }
    .posts-content-box {
        width: 13rem;
        height: 13rem;
    }
    #social-media-menu-options {
        width: 100%;
        top: calc(100% - 18.438rem);
    }
    #social-media-menu-options .menu-option {
        width: 33.333%;
        float: left;
    }
}





