
* {
    margin: 0;
    padding: 0;
    transition: all .3s linear;
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    color: rgba(190, 190, 190, 1);
    background: rgba(110, 110, 214, 1);
    font-family: 'Source Sans Pro', sans-serif;
}

/* ==== nav ==== */

nav {
    top: 0;
    height: 75px;
}

nav h1 {
    width: 160px;
    height: 100%;
    font-size: 64px;
    height: 100%;
    margin-left: 10px;
    font-family: 'Train One', cursive;
    cursor: cell;
}

a {
    text-decoration: none;
    color: inherit;
}

.rrf-blog-nav-bar-option {
    width: 50px;
    height: 50px;
    top: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    float: right;
}

/* ==== box === */

.rrf-blog-box {
    width: 400px;
    height: 400px;
    top: calc(50% - 250px);
    left: calc(50% - 200px);
}

.rrf-blog-box-heading {
    height: 150px;
    text-align: center;
    border-bottom: 1px solid rgba(200, 200, 200, 1);
}

.rrf-blog-box-heading img {
    width: auto;
    top: 5px;
    border-radius: 50%;
    height: calc(80% - 10px);
    filter: grayscale(50%);
}

.rrf-blog-box-heading img:hover {
    border-radius: 10px;
    filter: none;
}

.rrf-blog-box-heading h1 {
    height: calc(20% - 5px);
    font-size: 31px;
}

.rrf-blog-box p {
    width: calc(100% - 40px);
    height: auto;
    margin-left: 20px;
    text-align: justify;
    font-size: 21px;
    margin-top: 55px;
}

/* === comun ==== */
.rrf-blog-nav-bar-option, .rrf-blog-box, .rrf-blog-box-heading img {
    position: relative;
}

.rrf-blog-box, .rrf-blog-nav-bar-option:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
}

nav, .rrf-blog-box-heading, .rrf-blog-box-heading h1 {
    width: 100%;
}

/* --- media ---- */

@media screen and (max-width: 400px) {
    body, html {
        min-height: 100vh;
    }
    nav h1 {
        font-size: 49px;
        width: 100px;
    }
    .rrf-blog-nav-bar-option {
        width: 45px;
        height: 45px;
    }
    .rrf-blog-box {
        width: calc(100% - 10px);
        height: auto;
        min-height: 400px; 
        left: 5px;
        top: calc(50% - 250px);
    }
    .rrf-blog-box-heading h1 {
        font-size: 28px;
    }
    .rrf-blog-box p {
        font-size: 18px;
    }
}
@media screen and (max-height: 480px) {
    body, html {
        height: auto;
    }
    .rrf-blog-box {
        top: 10px;
    }
}
@media screen and (max-width: 320px) {
    nav h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 280px) {
    nav h1 {
        font-size: 35px;
    }
    .rrf-blog-nav-bar-option {
        width: 35px;
        height: 35px;
    }
}
